<h2>Driver:</h2>
<h4><%= @driver.driver_name %></h4>
<% @driver.ride_reviews.each do |rev| %>
  User: <h5><%= rev.user.name %></h5>
  Stars: <p><%= rev.star_rating %></p>
  Comments: <p><%= rev.comments %></p>
<% end %>



<h3>How was your experience</h3>
<%= form_for([@user, RideReview.new]) do |f| %>
  <p><%= f.number_field :star_rating, :placeholder => "Rate your driver", :autofocus => true%></p>
  <p><%= f.text_field :comments, :placeholder => "Add a comment"%></p>
     <%= f.hidden_field :driver_id, :value => @driver.id %>
  <p><%= f.submit %></p>
<% end %>


<%#= link_to "Ride Review show page", user_ride_review_path(@user) %>