<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" style="margin-top:-1%;">
      <%= form_for @user, :html => {:class => "form-sign-in"} do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <h2 class="form-signin-heading">Sign Up:</h2>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <div class="field">
              <%= f.label :name, :class => "sr-only" %>
              <%= f.text_field :name, :class => "form-control", :placeholder => "Username", :autofocus => true, style: "width:75%;margin:auto;" %><br>
            </div>
            <div class="field">
              <%= f.label :email, :class => "sr-only" %>
              <%= f.text_field :email, :class => "form-control", :placeholder => "Email", style: "width:75%;margin:auto;"%><br>
            </div>
            <div class="field">
              <%= f.label :password, :class => "sr-only" %>
              <%= f.password_field :password, :class => "form-control", :placeholder => "Password", style: "width:75%;margin:auto;"%><br>
            </div>
            <div class="field">
              <%= f.label :password_confirmation, :class => "sr-only" %>
              <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Password Confirmation", style: "width:75%;margin:auto;"%><br><br>
              <%= f.submit "Sign me up!",:class => "btn btn-cta btn-cta-primary", :style => "width:75%;margin-left:12.75%;" %>
            </div>
          </div>
        </div>
        <% end %>
        </div>
      <div class="col-md-3">
    </div>
  </div> 
</div>