
    
        
<!-- ******BLOG LIST****** --> 
<div class="blog blog-category blog-archive container">
  <% if current_user.id == @user.id %>
    <h2 class="page-title text-center"> Your Reviews </h2>
  <% else %>
    <h2 class="page-title text-center"> <%= @user.name %>'s Reviews </h2>
  <% end %>  
  <% if @user.ride_reviews.size == 0 %>
   
    <div class="row">
        <div class="blog-list blog-category-list">  
            <article class="post col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" style="margin-top: 40px;">
                <div class="post-inner">
                    <div class="content">
                      <% if current_user.id == @user.id %>
                        <h3 class="post-title text-center">It looks like you haven't left any reviews yet. Why not write one today?</h3> 
                      <% else %>
                        <h3 class="post-title text-center">It looks like <%= @user.name %> hasn't left any reviews yet.</h3>                     
                      <% end %>   
                    </div><!--//content-->
                </div><!--//post-inner-->
            </article><!--//post-->          
        </div><!--//blog-list-->  
    </div><!--//row-->

  <% else %>
    
    <div class="row">
        <div class="blog-list blog-category-list">
          <% @user.ride_reviews.reverse.each do |rev| %>    
            <article class="post col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                <div class="post-inner">
                    <div class="content">
                        <div class="date-label">
                            <span class="month"><%= rev.created_at.localtime.strftime("%b") %></span>
                            <span class="date-number"><%= rev.created_at.localtime.strftime("%d") %></span>
                        </div>
                        <h3 class="post-title"><a href="<%= driver_path(rev.driver_id) %>"><%= rev.driver.formatted_name %></a></h3>
                        <div class="meta">
                            <ul class="meta-list list-inline">
                              <li class="post-author"> by <%= @user.name %></a></li>
                              <li class="post-comments-link">
                                  <div class="star-ratings-css">
                                    <div class="star-ratings-css-top" style="width: <%= rev.star_rating_percentage %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                  </div>
                              </li>
                          </ul><!--//meta-list-->                             
                        </div><!--meta-->                               
                        <div class="post-entry">
                            <p><%= rev.comments %></p>
                            <!-- <a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a> -->
                        </div>                                
                    </div><!--//content-->
                </div><!--//post-inner-->
            </article><!--//post-->
            <% end %>
            
            
            
  <% end %> 
      <div class="row">
        <div class="col-md-6"></div>
      </div>                             
        </div><!--//blog-list-->  
    </div><!--//row-->
</div><!--//blog-->        




