<div class="container">
  <div class="row">

    <div class="col-md-5" style="margin:20px;">
      <br>
      <h3>Number of Reviews: <%= @user.ride_reviews.size %></h3>
    </div>
  
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6" style="margin:20px;">
      <div class="well" style="height: 450px; width: 550px; overflow: auto;">
      <h2 style="text-align: center;">Your reviews:</h2><br>
        <% if @user.ride_reviews.size == 0 %>
          <div class="row">
            <div class="col-md-10" style="display: inline-block; padding: 10px;">
              <div class="panel panel-primary">
                <div class="panel-body">
                  <h4>It looks like you haven't left any reviews yet.</h4><br>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <% @user.ride_reviews.reverse.each do |rev| %>
            <div class="row">
              <div class="col-md-10" style="display: inline-block;">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= rev.driver.formatted_name %> <%= rev.created_at.localtime.strftime("at %I:%M%p on %m/%d/%Y") %></h3>
                  </div>
                  <div class="panel-body">
                    <p>Rating: <%= rev.star_rating %></p>
                    <p>Review: <%= rev.comments %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  
    </div>
  </div>
</div>