
<div class="blog blog-category blog-archive container">
  <h2 class="page-title text-center">
    <!-- <i class="fa fa-archive"></i> --> Reviews for: <%= @driver.formatted_name %> 
  </h2>
  <div class="row">
    <div class="col-md-4">
      <div class="blog-list blog-category-list">
        <article class="post col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" id="info-box-no-padding">
          <div class="post-inner">
            <div class="content" id="driver-infoboxes">
              <div class="meta">
                <div class="post-entry">
                  <% if @driver.medallion_number.length == 4 %>
                    <h4>Medallion Number: <%= @driver.medallion_number %></h4><br>
                  <% else %>
                    <h4>License Number: <%= @driver.medallion_number %></h4><br>
                  <% end %>
                  <h4>Number of Reviews: <%= @driver.ride_reviews.size %></h4><br>
                  <h4>Average Rating:</h4>
                  <div class="star-ratings-css">
                    <div class="star-ratings-css-top" style="width: <%= @driver.star_percentage %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div> <!-- this is the end of col-md-4 -->
    <div class="col-md-4">
      <div class="blog-list blog-category-list">
        <article class="post col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" id="info-box-no-padding">
          <div class="post-inner">
            <div class="content" id="driver-infoboxes">
              <div class="meta">
                <div class="post-entry">
                  <% if @driver.violations.size > 0 %>
                    <h4><%= @driver.formatted_name %>'s Violations:</h4><br>
                      <% @driver.violations.each do |viol| %>
                          <h5><%= viol.date %>: Charge <%= viol.charge %><br><%= viol.description %></h5>
                      <% end %>
                  <% else %>
                    <h4><%= @driver.formatted_name %> has no violations.</h4><br>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    
    <% if current_user %>
      <div class="col-md-4" id="form-padding">
         <%= form_for @ride_review, url: user_ride_reviews_path(@user) do |f| %>
            <p><%= f.text_area(:comments, :placeholder => "What are you waiting for? Review and rate your ride!", :class => "form-control", :rows => 10)%></p>
            <%= f.select :star_rating, options_for_select([1,2,3,4,5]), :autofocus => false%>
            <%= f.label :uber do %>Uber driver?
              <%= f.check_box :uber %>
            <% end %>
            <%= f.hidden_field :driver_id, :value => @driver.id %>
            <%= f.submit 'Submit review!', :class => 'btn btn-cta btn-cta-tertiary' %>
        <% end %>
      </div>
    <% else %>
      <div class="col-md-4" id="form-padding">
        <!-- <div class="col-md-4" style="margin: 50px;"> -->
          <a href="/login" button type="button" class="btn btn-cta btn-cta-tertiary">Please log in to write a review</a></button>
        </div>
    <% end %>
  </div>
</div>

   

  
  <% if @driver.ride_reviews.size == 0 %>

  <div class="row" id="extra-margin-for-rows">
      <div class="blog-list blog-category-list">  
          <article class="post col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0" style="margin-top: 40px;">
              <div class="post-inner">
                  <div class="content">
                    <h3 class="post-title text-center"> It looks like <%= @driver.formatted_name %> doesn't have any reviews yet. Good news: you get to be the first one to review this driver!</h3>   
                  </div><!--//content-->
              </div><!--//post-inner-->
          </article><!--//post-->          
      </div><!--//blog-list-->  
  </div><!--//row-->
  <div class="row">
    <div class="col-md-6"></div>
  </div>

  <% else %>
    <div class="row">
      <div class="col-md-10">
    <% @driver.ride_reviews.reverse.each do |rev| %>
      <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-7" style="display: inline-block;">
          <div class="panel panel-primary">
            <div class="review-styling">
              <div class="star-ratings-css">
                <div class="star-ratings-css-top" style="width: <%= rev.star_rating_percentage %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
              </div>
              <h4><a href="<%= user_path(rev.user_id) %>"><%= rev.user.name %></a></h4>
              <h5>on <%= rev.created_at.localtime.strftime("%b") %> <%= rev.created_at.localtime.strftime("%d") %></h5>
              <p class="review-styling"><%= rev.comments %></p>
              <div class="voting-system" id="thumbs-up">
                <% if current_user %>  
                  <%= form_for @vote, url: user_ride_review_votes_path(@user.id, rev.id) do |f| %>
                    <%= f.hidden_field :value_of_votes, :value => "1" %>
                    <%= f.hidden_field :ride_review_id, :value => rev.id %>
                    <%= f.button '<i class="fa fa-thumbs-o-up"></i>'.html_safe %>
                    <!-- :class => "glyphicon glyphicon-thumbs-up" -->
                  <% end %>
                    <% if rev.votes  %>
                      <h5 style=><%= rev.votes.map { |vote| vote.value_of_votes }.inject(:+) %></h5>
                    <% end %>
                  <%= form_for @vote, url: user_ride_review_votes_path(@user.id, rev.id) do |f| %>
                    <%= f.hidden_field :value_of_votes, :value => "-1" %>
                    <%= f.hidden_field :ride_review_id, :value => rev.id %>
                    <%= f.button '<i class="fa fa-thumbs-o-down"></i>'.html_safe %>
                  <% end %>
                <% end %>  
              </div>
              <% if rev.uber == true %>
                <p><em>* Uber-affiliated ride</em></p>
              <% end  %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-6"></div>
</div>
  <% end %>       

<!-- ---------------------------------------------------------------------------------------- -->

</div><!-- container -->