<% if !user_signed_in? %>
  <%= link_to "Sign Up", signup_path %> |
  <%= link_to "Log In", '/login' %> 
<% else %>
  <%= "Hello, #{current_user.name}" %>
  <%#= link_to "Hack my Ride!", medallion_search_path %> |
  <%= link_to "Log Out", '/logout' %>
<% end %>
<% if notice %>
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <%= notice %>
  </div>
<% end %>  